@charset "UTF-8";
/* ******************************************************************

	--home.css--

	1. Layout setting

****************************************************************** */


/*==================================================================
	1. Layout setting
===================================================================*/
#header{
	width: unset;
	width: 950px;
	margin: auto;
}
#header .action_{
	background: unset;
	border: 0;
	
	position: relative;
}
#header .action_ a{
	color: #5a5a5a;
}
#header .action_::before{
	position: absolute;
	content: "";
	top: 7px;
	left: -3px;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid #5a5a5a;

}
#header .action_:last-child{
	margin-left: 32px;
}
#menu{
	border: 1px solid #eaeaea;
	background: #fbfbfb;
}
#menu .active{
	background: #fdfdfd;
}
#menu .menu{
	background: #fbfbfb;
	display: flex;
	width: 950px;
	margin: auto;
}
#menu .menu .menu_item{
	width: 14.5%;
	padding: 10px ;
	text-align: center;
	border-left: 1px solid #eaeaea;
	border-right: 0;
}
#menu .menu .menu_item:last-child{
	border-right: 1px solid #eaeaea;
}
#menu .menu .menu_item .txt{
	font-size: 13px;
	color: #5a5a5a;
}
#contents {
	margin: auto;
	margin-top: 16px;
}
#contents #main .bnr_main{
	margin-top: 18px;
}
#contents #main .bnr_main .title{
	color: #5a5a5a;
	font-size: 13px;
	background: #ededed;
	padding: 8px 9px 5px 9px;
	border: 1px solid #dfdfdf;
}

#contents #main .bnr_main .main_content{
	padding: 17px 9px 14px 9px;
	border-bottom:  2px solid #cccccc;
}
#contents #main .bnr_main .main_content:last-child{
	border-bottom: 0 ;
}
#contents #main .bnr_main .main_content .contents_for_download{
	margin-left: 37px;
	position: relative;
	font-weight: 600;
	
}
#contents #main .bnr_main .main_content .contents_for_download .site_pdf_download{
	border: 0;
	background: unset;
	cursor: pointer;
	padding: 0;
	margin-left: 5px;
}
#contents #main .bnr_main .main_content .contents_for_download .site_pdf_download{
	color: #444444;
}
#contents #main .bnr_main .main_content .date_{
	color: #000000;
}
#contents #main .bnr_main .main_content .contents_for_download::before{
	position: absolute;
	content: "";
	top: 3px;
	left: -14px;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid #5a5a5a;
}
#contents #main .bnr_main .count_infomation{
	margin-top: 20px;
	text-align: right;
	margin-bottom: 45px;
}
#contents #main .bnr_main .count_infomation .count{
	position: relative;
}
#contents #main .bnr_main .count_infomation .count::before{
	position: absolute;
	content: "";
	top: 7px;
	left: -14px;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid #5a5a5a;
}
#contents #main .bnr_main .count_infomation .count{
	background: unset;
	border: 0;
	font-weight: 600;
	padding: 0;
}
#contents #side .brn_side{
	background: #f4f4f4;
	/* padding: 8px; */
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#contents #side .brn_side .title{
	color: #5a5a5a;
	font-size: 13px;
	line-height: 13px;
	padding: 8px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #dfdfdf;
}
#contents #side .brn_side .side_contents{
	padding: 8px;
}
#contents #side .brn_side .side_contents .date_{
	color: #000000;
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 5px;
}
#contents #side .brn_side .side_contents .contents_date_ a{
	font-weight: 600;
	line-height: 19.2px;
}
#footer {
	background-color: #e8e8e8;
	height: 84px;
}
#footer .content_footer .txt_{
	color: #333;
	font-size: 12px;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 12px;
	font-weight: 600;
}
