@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Navi styles
		2-4. Main styles
		2-5. Side styles
		2-6. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
a:link, a:visited { color:#06C; text-decoration:none; }
a:hover, a:active {	color:#06C; text-decoration:underline; }
html { background-color:#E8E8E8; }
body { background-color:#FFF; }


/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/




/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
#contents {
	clear:both;
	width:950px;
	margin:0 auto 81px;
}


/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header {
	width:950px;
	margin:0 auto;
	padding:18px 0 16px;
}


/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/
#navi {
	clear:both;
	height:38px;
	margin-bottom:15px;
	background:url(/img/common/bg_navi.gif) no-repeat 0 0;
}
#navi ul {
	width:950px;
	margin:0 auto;
}
#navi li { 
	float:left;
}
#navi li a {
	display:block;
	overflow:hidden;
	width:136px;
	height:38px;
	background: url(/img/common/navi.gif) no-repeat;
	text-indent:-9999px;
}
#navi #naviHome a {
	background-position:0 0;
}
#navi #naviHome a:hover {
	background-position:0 -38px;
}
#navi #naviSample01 a {
	width:135px;
	background-position:-136px 0;
}
#navi #naviSample01 a:hover {
	background-position:-136px -38px;
}
#navi #naviSample02 a {
	background-position:-271px 0;
}
#navi #naviSample02 a:hover {
	background-position:-271px -38px;
}
#navi #naviSample03 a {
	width:135px;
	background-position:-407px 0;
}
#navi #naviSample03 a:hover {
	background-position:-407px -38px;
}
#navi #naviSample04 a {
	background-position:-542px 0;
}
#navi #naviSample04 a:hover {
	background-position:-542px -38px;
}
#navi #naviSample05 a {
	width:135px;
	background-position:-678px 0;
}
#navi #naviSample05 a:hover {
	background-position:-678px -38px;
}
#navi #naviSample06 a {
	width:137px;
	background-position:-813px 0;
}
#navi #naviSample06 a:hover {
	background-position:-813px -38px;
}


/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/
#main {
	float:left;
	width:680px;
}


/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/
#side {
	float:right;
	width:250px;
}


/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#footer {
	clear:both;
}
.flex{
	display: flex;
}
.a-center{
	align-items: center;
}
.j-center{
	justify-content: center;
}
.j-between{
	justify-content: space-between;
}
ul,ol,li{
	list-style: none;
}
.mt-8{
	margin-top: 8px;
}